
.captcha-block {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    height: 435px;
    background-color: white;
}

.captcha-banner {
    flex-grow: 2;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 5px 0 5px;
    padding-left: 15px;
    background-color: var(--blue-1);
}

.captcha-banner > p {
    color: white;
    font-size: 10px;
}

.captcha-banner > h1 {
    color: white;
    font-size: 20px;
}

.captcha-image-grid {
    flex-shrink: 0;
    flex-grow: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 3px;
    margin: 0 5px;
}

.captcha-image {
    background-color: black;
    cursor: pointer;
    border: 0 solid white;
    transition: border .1s;
}

.captcha-image.clicked {
    border: 5px solid white;
}

.captcha-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: 1px solid lightgrey;
    flex-grow: 1;
    flex-basis: 0;
    padding: 5px;
}

.verify-button {
    padding: 10px 15px;
    background-color: var(--blue-1);
    border: none;
    color: white;
    font-size: 12px;
    border-radius: 2px;
}